@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

.dashboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins';
}

.todoListContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.todoListContainer table {
	width: 80%;
	border-collapse: collapse;
}

.todoListContainer table tbody tr {
	border-bottom: 1px solid gray;
}

.todoListContainer table tbody tr td {
	padding: 20px 10px;
}

.addTask {
	background-color: rgb(34, 0, 255);
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 50%;
	line-height: 40px;
	font-size: 50px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.tableRow td:nth-child(2) {
	text-align: center;
}

.tableRow td:nth-child(4) {
	text-align: center;
}

.menuArrow {
	font-size: 1.25rem;
	cursor: pointer;
}

.inDetailContainer {
	width: 80%;
}

.inDetailContainer .buttonSection {
	display: flex;
	justify-content: right;
	gap: 20px;
}

.inDetailContainer .buttonSection button {
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'Poppins';
	background-color: #FFF;
	font-size: 14px;
}

.inDetailContainer .title {
	margin: 20px 0;
	font-size: 18px;
	color: rgb(103, 102, 102);

	span {
		color: black;
		margin: 20px 0;
		font-size: 26px;
		font-weight: 600;
		margin: 0 10px;
	}
}

.inDetailContainer .description {
	margin: 20px 0;
	font-size: 18px;
	color: rgb(103, 102, 102);

	span {
		color: #272727;
		font-size: 20px;
		margin: 0 10px;
		font-weight: normal;
	}
}

.inDetailContainer .dueDate {
	margin: 20px 0;
	font-size: 18px;
	color: rgb(103, 102, 102);

	span {
		color: #000;
		font-size: 20px;
		margin: 0 10px;
		font-weight: 600;
	}
}

@media (max-width: 600px) {
	.todoListContainer table {
		width: 100%;
		font-size: 12px;
	}
}